.row
  .col-lg-12
    %h2.slide Змагання
    .competitions-container
      = render 'sports/weightlifting/competitions'
.row
  .col-lg-12
    %h2.slide Протокол зважування
    .protocol-weighing-container
      = render 'sports/weightlifting/protocol_weighing'
.row
  .col-lg-12
    %h2.slide Протокол змагань
    .protocol-competitions-container
      = render 'sports/weightlifting/protocol_competitions'