-content_for :head_image do
  =image_tag 'sport-icons/weightlifting.png'

.row
  .col-lg-12
    %h2.slide Змагання
    .competitions-container
      = render 'sports/weightlifting/competitions'
.row
  .col-lg-12
    %h2.slide Додати учасника
    .sportsman-form.hide
      = render 'sports/weightlifting/add_sportsman'
    %h2.slide Протокол зважування
    .protocol-weighing-container
      -# 'sports/weightlifting/protocol_weighing'
.row
  .col-lg-12
    %h2.slide Протокол змагань
    .protocol-competitions-container
      -# 'sports/weightlifting/protocol_competitions'