// Place all the styles related to the Generals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header {
  height: 70px;
  padding: 20px 40px;

  .logo {
    padding: 20px;
    display: inline-block;
  }
}

ul.list_category {
  list-style-type: none;
  li.cake {
    width: 200px;
    height: 200px;
    background: #fff;
    padding: 20px;
    text-align: center;
    margin: 25px;
  }
}

.small-clock{
  .clock.flip-clock-wrapper {
    margin: 0;

    ul {
      width: 20px;
      height: 25px;
      padding-left: 20px;
      margin: 0 1px 0 1px;

      li {
        line-height: 25px;

        a div div.inn {
          font-size: 26px;
        }
      }
    }

    .flip-clock-divider {
      height: 35px;
      width: 15px;
      .flip-clock-dot.top{
        top: 5px;
        width: 5px;
        height: 5px;
      }
      .flip-clock-dot.bottom{
        top: 15px;
        width: 5px;
        height: 5px;
      }
    }
  }
}