// Place all the styles related to the Generals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul.list_category {
  list-style-type: none;
  li.cake {
    width: 200px;
    height: 200px;
    background: #fff;
    padding: 20px;
    text-align: center;
    margin: 25px;
  }
}